:root {
  --clr-purple: hsl(259, 100%, 65%);
  --clr-red-light: hsl(0, 100%, 67%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-offwhite: hsl(0, 0%, 97%);
  --clr-neutral-light-grey: hsl(0, 0%, 86%);
  --clr-neutral-smokey-grey: hsl(0, 1%, 44%);
  --clr-neutral-offblack: hsl(0, 0%, 8%);

  --ff-main: 'Poppins', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui;
  line-height: 1.5;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 700px;
  padding-inline: 1rem;
  margin-inline: auto;
}
